@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
	margin: 0;
} 



#outer_div {	
	background-color: hsl(0, 0%, 86%);
	padding: 30px 0;
	height: 91.5vh;	
    display: flex;
	justify-content: center;
	align-items: center;
}


#inner_div {
	position: relative;
	width: 50%;
	min-width: 393px;
	margin: 0 auto;
	padding: 10px 0;
	/* height: 720px; */
	background-color: white;
	border-radius: 20px;
	border-bottom-right-radius: 200px;
	box-shadow: -2px 2px 15px rgb(25, 200, 100);
}


form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	padding: 2% 0 0 2%;
	margin: 0 auto;
	/* border: 1px solid black; */
}


label {
	display: inline-block;
	padding-bottom: 10px;
	font-size: 15px;
	margin-right: 5%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}


input {
	display: block;
	width: 50%;
	min-width: 75px;
	height: 30px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;	
}


input:focus {
	border: 1px solid rgb(48, 41, 135);
}


/* Hide number input spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	/* Optional: You can adjust the margin as needed */
} 


#day_error, #month_error, #year_error {
	position: absolute;
	font-size: 15px;
	color: red;
	letter-spacing: normal;
}


hr {
	margin-top: 30px;
	width: 80%;
	color: dodgerblue;
}


#img-container {
	width:80px;
	height: 80px;
	background-color: blue;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 95px;
	right: 50px;
	cursor: pointer;
}


#img-container:hover {
	background-color: black;
}


/* #display-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
} */


#years, #months, #days {
	font-size: 60px;
	font-weight: bold;
	font-family: 'Poppins';
	letter-spacing: -3px;
	
}


#years > span, #months > span, #days > span {
	display: inline-block;
	color: blue;
	margin-left: 70px;
	font-size: 75px;
	font-weight: bold;
} 


/* RESPONSIVE QUERIES */


 @media (max-width: 400px) {
	/* #outer_div {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	} */

	 #inner_div {
		/*width: 80%;
		height: 90%;*/
		border-radius: 10px;
		border-bottom-right-radius: 100px;
	} 

	label {
		font-size: 20px;
		margin: 30px 0 0 20px;
		font-family: Roboto;
	}

	input {
		/* width: 45px;
		height: 15px;
		margin: 10px 0 0 0;
		padding: 10px; */
		font-size: 15px;
	}

	#day_error,
	#month_error,
	#year_error {
		font-size: 8px;
	}

	#img-container {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		top: 26%;
		left: 40%;
	}

	img {
		transform: scale(0.6);
	}

	#years,
	#months,
	#days {
		font-size: 40px;
		letter-spacing: -2px;
		margin-top: 25px;

	}

	#years>span,
	#months>span,
	#days>span {
		margin-left: 30px;
		font-size: 60px;
	}
} 



	
